<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheets/style5.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="main">

        <div class="nav">
            <div class="cname">
                <a href="/">KunnuSherry</a>
            </div>
            <div class="other">
                <a href="/read">All Users</a>
                <a href="">Reviews</a>
                <a href="">Browse</a>
                <button class="login">Log In</button>
                <button class="signup">Sign Up</button>
            </div>
        </div>

        <div class="content">
            <div class="details">
                <div class="text">
                    <div class="sutext">
                        Log In
                    </div>
                    <div class="othertext">
                        Already Have an account ? 
                    </div>
                </div>
                <form action="/login" method="post">
                    <input type="email" placeholder="Email" name="email">
                    <input type="password" placeholder="Password" name="password">
                    <input type="submit" class="signup signup1" value="Log In">
                </form>
            </div>
            <div class="image">
                <img src="/images/Hero.png" alt="image">
            </div>
        </div>
    </div>
</body>

</html>