<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">
</head>

<body bgcolor="black">
    <div class="main">
        <div class="text">All Users</div>
        <div class="cards">
            <% if (users.length>0){ %>
                <% users.forEach((user)=>{ %>
                    <div class="card">
                        <div class="image">
                            <img src="<%= user.image %>" alt="image">
                        </div>
                        <div class="username">
                            <%=user.username%>
                        </div>
                        <div class="email">
                            <%=user.email%>
                        </div>
                        <div class="button">
                            <a href="" class="edit">Edit Profile</a>
                            <a href="" class="delete">Delete User</a>
                        </div>
                    </div>

                    <%})%>
                        <%}else{%>
                            <div class="text">No Users Right Now 😥...</div>
                            <%}%>
        </div>
    </div>
</body>