a {
    text-decoration: none;
    margin-top: 10px;
    color: red;
}

a:hover {
    color: white;
}

h1 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 800;
    font-style: normal;
    font-size: 28px;
    color: white;
}
.content{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 800;
    font-style: normal;
    font-size: 18px;
    color: white ;
}